td{
	height: 100px;
	width: 100px;
	background-color: pink;
}
table{
	margin: auto;
}
.vertical{
	border-left: 1px black solid;
	border-right: 1px black solid;
}

.horizontal{
	border-top: 1px black solid;
	border-bottom: : : 1px black solid;
}
h1{
	text-align: center;
}